* {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.form-text {
    color: darkblue;
    font-size: 2rem;
}

.form-text:first-letter {
    color: yellow;
}

